<launch>
  <node pkg="squirrel_ser" type="ser.py" name="$(anon get_sound_direction)" output="screen" args="-md src/squirrel_hri/squirrel_ser/model/dnn.framelevell.MSPEC.AIBO.p_a.conv.f_dnn.post_elm.0.h5 -elm_md src/squirrel_hri/squirrel_ser/model/dnn.framelevell.MSPEC.AIBO.p_a.conv.f_dnn.post_elm.0.elm.ckpt -c_len 10 --stl -n_class 2" respawn="true"/>
</launch>