<launch>
<arg name="camera_id" default="kinect" />

<node pkg="nodelet" type="nodelet" name="squirrel_person_tracker" args="load squirrel_person_tracker/squirrel_person_tracker_nodelet /$(arg camera_id)/$(arg camera_id)_nodelet_manager" output="screen" cwd="ROS_HOME">
<param name="camera_optical_frame_id" type="str" value="$(arg camera_id)_depth_optical_frame" />
 </node>  
           
</launch>
