<launch>
  <param name="model_file" type="str" value="$(find squirrel_leg_detector)/data/ppl2dmdl.C00_stumpboost.param_txt" />
  <node pkg="squirrel_leg_detector" type="leg_detector" name="squirrel_leg_detector" output="log" respawn="false" args="-v 3"/>

<!--
  <include file="$(find squirrel_leg_detector)/launch/close_to_pose.launch" />
-->

  <include file="$(find people_tracking_filter)/launch/filter.launch"/>
  <param name="people_tracker/fixed_frame" type="string" value="map"/>
  <param name="people_tracker/follow_one_person" type="bool" value="false"/>
  <param name="people_tracker/start_distance_min" value="0.05"/>

</launch>
